#comments-wrapper {
  display: flex;
  flex-direction: column;
  align-content: flex-end;
}

#comment-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 30px;
  width: 100%;
}

#comment-text {
  background-color: #F5F3F4;
  display: block;
  padding: 8px 12px;
  width: fit-content;
  border-radius: 25px;
  margin: 8px 12px;
}

#author-info {
  display: flex;
  align-items: center;
}

#comment-prof-pic {
  padding-right: 15px;
}

#edit-del-btns {
  display: flex;
  align-items: center;
  padding-right: 10px;
}

#edit-btn:hover {
  cursor: pointer;
}

#delete-btn:hover {
  cursor: pointer;
}

#edit-submit:hover {
  background-color: rgb(104, 204, 243);
}

.upvotes {
  display: flex;
  align-items: center;
  font-weight: bold;
  color: purple;
  height: 25px;
  padding: 0px 5px;
}

#user-has-upvoted-false {
  color: grey;
  height: 25px;
  width: 25px;
}

#user-has-upvoted-true {
  color: purple;
  height: 25px;
  width: 25px;
}

#comment-footer {
  display: flex;
  align-items: center;
  align-self: flex-start;
  width: fit-content;
}

.upvote-status:hover {
  cursor: pointer;
}

/* .time {
  padding: 0px 5px;
} */