@import url("https://fonts.googleapis.com/css?family=Roboto");

#friendslists-page-title {
  font-family: "Roboto", sans-serif;
  text-align: center;
  margin-bottom: 10px;
}

#friends-container {
  display: flex;
  justify-content: space-evenly;
}
#friend-list {
  background-color: white;
  border-radius: 5px;
  box-shadow: 5px 5px 20px lightgrey;
  display: flex;
  width: 40%;
  padding: 20px;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: center;
}

#friend-name {
  font-family: "Roboto", sans-serif;
  margin-left: 10px;
}

#friend-name a {
  text-decoration: none;
  color: black;
}

#friend-img {
  border-radius: 100%;
}

@media (max-width: 676px) {
  #friend-list {
    background-color: white;
    border-radius: 5px;
    box-shadow: 5px 5px 20px lightgrey;
    display: flex;
    width: 80%;
    margin-bottom: 10px;
    padding: 20px;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
  }

  #friends-container {
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
    align-items: center;
  }

  #friend-img {
    border-radius: 100%;
    margin-bottom: 10px;
  }
}
