@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Rokkitt&display=swap');

/* .single-message-expanded{
   height: auto;
   max-height: 100px;
} */

/* .single-message-collapsed{
    max-height: 0;
    overflow: hidden;
} */

#search {
    margin-top: 10px;
    margin-bottom: 15px;
}

#message-body{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.single-message-time{
    font-size: 12px;
    /* padding-bottom: 3px; */
}

textarea {
    resize: none;
}

#recent-message{
    font-size: 12px;
    font-style: italic;
    padding-top: 5px;
    text-overflow: ellipsis;
    color: #8198ac;
}

#outer{
    display: flex;
    border-style:groove;
    border-radius: 6px;
}

#chat-container{
    font-family: 'Open Sans', sans-serif;
    display:flex;
    justify-content: center;
    height:80%;
    width: 80%;
    margin:auto;
    margin-top: 20px;
}

#message-container{
    font-family: 'Rokkitt', serif;
    font-size: 20px;
    display: flex;
    flex-direction: column-reverse;
    overflow: auto;
    width: 800px;
}

#chatbox{
  flex-direction: column;
	width:300px;
	background:#fff;
  padding:10px;
	overflow: auto; 
	height:auto;
  /* border-style:groove; */
  border-right: 1px groove #e7ebee;;
}

#outer h2{
    text-align: center;
   font-style: italic;
   color: #D3D3D3
}

#no-message{
    display: flex;  
    justify-content: center;
    align-items: center;
    width: 800px;
}

.friend{
	height:70px;
	border-bottom:1px solid #e7ebee;		
	position:relative;
}

.friend:hover{
	background:#f1f4f6;
	cursor:pointer;
}

.friend img{
	width:50px;
	border-radius:50%;
	margin:5px;
  margin-right: 15px;
	float:left;
}

.friend p{
	padding:15px 0 0 0;			
	float:left;
	width:180px;
}

.friend p strong{
  display: flex;
  font-weight:600;
  font-size:15px;
	color:#000000;  

}

.friend p span{
	font-size:13px;
	font-weight:400;
	color:#aab8c2;
}

.friend .status{
	background:#26c281;
	border-radius:50%;	
	width:9px;
	height:9px;
	position:absolute;
	top:31px;
	right:17px;
}

.friend .status.away{background:#ffce54;}

.friend .status.inactive{background:#eaeef0;}

#friend-header{
    display: flex;
    align-items: center;
    font-size: 20px;
    font-weight: 600;
    height: 92px;
    /* padding: 10px; */
    background-color: #fff;
    border-bottom: 1px groove #e7ebee;    
}

#friend-header img{
   border-radius: 50px;
   padding: 10px;

}

.bubble{	
  display:flex;
	background:#f0f4f7;
	padding:12px 5px;
  margin-top: 10px;
  margin-bottom: 5px;
	color:#8495a3;
	position:relative;
  width:100%;
}

.message{
    max-width: 80%;
    padding-left: 10px;
    padding-right: 10px;
}

.my-message{
    display: flex;
    max-width: 100%;
    justify-content: flex-end;
}

.my-message .bubble{
    background: #d0e9da;
    border-radius:10px 10px 0px 10px;
    color: #738b71;
}

.my-message .fa-trash{
    margin-left: 30px;
}

.my-message .single-message-time{
    display: flex;
    justify-content: flex-end;
}

.friends-message{    
    display: flex;
}

.friends-message .bubble{
    border-radius:10px 10px 10px 0px;
    margin-right: 30px;

}

.inline-message {
    display: flex;
    align-items: baseline;
}

.fa-trash{
    color: grey;
    font-size: x-small;
    margin-right: 5px;
}

.fa-trash:hover{
    color:#000000;
    cursor:pointer;
}

#sendmessage{
    display: flex;
    justify-content: space-around;
    /* height:70px; */
    border-top:1px groove #e7ebee;	
    /* border-bottom:1px solid #e7ebee;	 */
    margin-top: 15px;
    padding: 3px 0px 10px;
    background:#fff;
}

#textarea-container{
    display: flex;
    flex-direction: column;
    padding-left: 4px;
    width: 95%;
}

.message-input{
    width: 100%;
    height:70px;
    padding: 5px;
}

#sendmessage button{
    background-color: #fff;
    border:none;
    font-size: large;
    padding-top: 10px;
    margin-right: 5px;
}

.fa-message:hover{
    cursor: pointer;
}

#character-length{
    width: 20%;
    color: rgb(82, 82, 82);
    font-size: 12px;
    padding-bottom: 2px;
}

#right{
    display: flex;
    justify-content: flex-end;
}