#new-post-wrapper {
  display: flex;
  justify-content: center;
  margin-right: 150px;
  width: 95%;
}

#newPostBox {
    display:flex;
    justify-content: center;
    border-radius: 5px;
    box-shadow: 1px 1px 4px 1px #161A1D;
    width: 29.7%;
    margin: 12px 8px;
    padding: 12px 8px;
}

#new-post-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}

#new-post-form > * {
  font-family: 'Poppins', sans-serif;
}

#newPostTextBox{
    width: 95.367%;
    height: 72px;
    padding: 12px 8px;
    margin: 5px;
    font-size: 16px;
}

#newPostTextBox::placeholder{
  font-family: 'Poppins', sans-serif;
}

#post-visibility-text {
  margin-left: 5px;
  margin-right: 10px;
}
#postButton{
    background-color: aquamarine;
    width: 150;
    height: 30;
    margin-left: auto;
    margin-right: 2px;
}
#newPostBottomBar{
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 95%;
}