#new-post-wrapper {
  display: flex;
  justify-content: center;
  width: 100%;
}

#newPostBox {
  display: flex;
  flex-direction: column;
  justify-content: center;
  border-radius: 5px;
  box-shadow: 1px 1px 4px 1px #161a1d;
  /* width: 33%;
  min-width: 400px; */
  background-color: white;
  float: inline-end;
  margin: 8px 12px;
  padding: 8px 12px;
}

#spacer-div {
  display: flex;
  justify-self: flex-end;
  width: 150px;
}

#newsfeed-upper-wrapper {
  display: flex;
}

#user-welcome {
  font-family: "Poppins", sans-serif;
  margin-left: 12px;
}

#new-post-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}

#new-post-form > * {
  font-family: "Poppins", sans-serif;
}

#newPostTextBox {
  width: 97.5%;
  height: 96px;
  padding: 12px 8px;
  border: none;
  outline: none;
  margin: 12px 0px;
  font-size: 16px;
  border-radius: 12px;
  background-color: #f5f3f4;
}

#newPostTextBox::placeholder {
  font-family: "Poppins", sans-serif;
}

#post-visibility-selector {
  font-family: "Poppins", sans-serif;
  border-radius: 5px;
  height: 30px;
  background-color: #d3d3d3;
  color: black;
  padding: 0px 12px;
}

#post-visibility-selector:hover {
  cursor: pointer;
}

#post-visibility-selector:focus {
  outline: none;
}

#post-visibility-text {
  font-family: "Poppins", sans-serif;
  margin-left: 5px;
  margin-right: 10px;
}

#post-button {
  background-color: #e5383b;
  font-family: "Poppins", sans-serif;
  color: white;
  width: 150;
  height: 30;
  margin-left: 12px;
  margin-right: 2px;
  border-radius: 5px;
}

#post-button:hover {
  background-color: #e5383b8a;
  color: black;
  cursor: pointer;
}

#newPostBottomBar {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  width: 97.5%;
}
