.loading {
  border: 16px solid #fff;
  border-top: 16px solid #e5383b;
  border-radius: 50%;
  width: 100px;
  height: 100px;
  -webkit-animation: spin 2s linear infinite;
  animation: spin 1.5s linear infinite;
}

@-webkit-keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
  }
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

#loading2 {
  background: linear-gradient(100deg, #e4e4e4 30%, #f6f7f8 50%, #eceff1 70%);
  background-size: 500%;
  animation: loading 1.5s linear infinite;
}

@keyframes loading {
  0% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0 50%;
  }
}

#nf-loading {
  display: flex;
  align-self: center;
  margin-top: 50px;
  height: 60px;
  width: 60px;
}

#fl-loading {
  display: flex;
  align-self: center;
  margin-top: 50px;
  width: 30px;
  height: 30px;
}

#lp-loading {
  display: flex;
  align-self: center;
  margin-top: 50px;
  width: 30px;
  height: 30px;
}

#main-content-container {
  display: flex;
}

#no-friends {
  margin-top: 25px;
  text-align: center;
}

#newsfeed-container {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: flex-start;
  width: 100%;
}

.newsfeed-NewPostBox {
  width: 33%;
}

#posts-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.side-panel-container {
  display: flex;
  min-height: 500px;
  height: fit-content;
  max-height: 92vh;
  width: 350px;
  padding-left: 12px;
  margin-top: 8px;
  flex-wrap: wrap;
  border-radius: 5px;
  box-shadow: -3.5px 0px 7.5px -7px black;
  background-color: #ffffff;
  position: sticky;
  top: 40px;
}

#side-panel {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 100%;
}

#side-panel-title {
  margin-top: 8px;
  align-self: center;
  margin-bottom: 10px;
  border-bottom: 1px solid #e5383b;
  font-size: 28px;
}

#side-panel-friends {
  display: flex;
  flex-direction: column;
  width: 95%;
}

#friend-img {
  margin-right: 10px;
}

#fp-status-wrapper {
  display: flex;
  align-items: center;
}

#fp-last-seen {
  margin-left: 5px;
}

#side-panel-friend {
  display: flex;
  margin-bottom: 12px;
  background-color: #f5f3f4;
  border-radius: 5px;
  padding: 12px 8px;
}

#side-panel-friend:hover {
  cursor: pointer;
  background-color: #ffffff;
  border: 1px solid rgba(128, 128, 128, 0.5);
  margin-bottom: 11px;
  padding-bottom: 11px;
}

#friend-name {
  display: flex;
  align-items: center;
  font-weight: bold;
}

@media (max-width: 819px) {
  #side-panel-container,
  #side-panel-container-loading #left-panel-container {
    display: none;
  }
}

@media (max-width: 880px) {
  #post-wrapper {
    /* width: 360px; */
    min-width: 360px;
  }
  #newPostBox {
    min-width: 360px;
  }
  #newsfeed-container {
    width: 90%;
  }
}
