#main-content-container {
  display: flex;
}

#newsfeed-container {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
  width: 100%;
}

#posts-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 33%;
}

#side-panel-container {
  display: flex;
  min-height: 500px;
  height: fit-content;
  max-height: 92vh;
  width: 350px;
  padding-left: 12px;
  flex-wrap: wrap;
  border-radius: 5px;
  box-shadow: -3.5px 0px 7.5px -7px black;
  background-color: #FFFFFF;
  position: sticky;
  top: 40px;
}

#side-panel {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 100%;
}

#side-panel-title {
  margin-top: 8px;
  align-self: center;
  margin-bottom: 10px;
  border-bottom: 1px solid #E5383B;
  font-size: 28px;
}

#side-panel-friends {
  display: flex;
  flex-direction: column;
  width: 95%;
}

#side-panel-friend {
  display: flex;
  margin-bottom: 12px;
  background-color: #F5F3F4;
  border-radius: 5px;
  padding: 12px 8px;
  /* width: 130%; */
}

#side-panel-friend:hover {
  cursor: pointer;
  background-color: #e5383b8a;
}

#friend-name {
  display: flex;
  align-items: center;
  font-weight: bold;
}

@media (max-width: 768px) {
  #side-panel-container {
    display: none;
  }
}