@import url("https://fonts.googleapis.com/css2?family=Barlow&family=Poppins:wght@600&display=swap");

#profile-container {
  display: flex;
  flex-direction: column;
  padding: 20px;
  width: calc(100% - 40px);
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
  background: #888;
}

body {
  max-width: 100%;
}

.profile-NewPostBox {
  width: 550px;
}

#profile-main-wrapper {
  display: flex;
  justify-content: space-evenly;
}

#profile-posts-container {
  display: flex;
  flex-direction: row;
  width: 550px;
  flex-direction: column;
}

#wrapper-posts {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#profile-btns {
  display: flex;
  justify-content: space-between;
}

#link-friends {
  display: flex;
  margin-left: 20px;
  width: fit-content;
  justify-content: flex-start;
  text-decoration: none;
}

#message-btn {
  background-color: #000000;
  color: white;
  font-family: "Poppins", sans-serif;
  height: fit-content;
  padding: 10px;
  border-radius: 5px;
}

#message-btn:hover {
  background-color: #b1a7a6;
  color: black;
  cursor: pointer;
}

#friends-profile-container {
  display: flex;
  /* max-height: 300px; */
  height: 290px;
  overflow: auto;
  background-color: white;
  width: 300px;
  border-radius: 5px;
  margin-top: 10px;
  padding: 10px 10px;
  box-shadow: 1px 1px 4px 1px #161a1d;
  flex-direction: column;
  /* justify-content: space-evenly; */
  /* align-items: space; */
  /* flex-wrap: wrap; */
}

#friends-profile-container-single {
  display: flex;
  max-height: 300px;
  padding-top: 20px;
  background-color: white;
  width: 300px;
  border-radius: 5px;
  margin-top: 10px;
  padding: 10px;
  box-shadow: 1px 1px 4px 1px #161a1d;
  flex-direction: column;
  /* flex-wrap: wrap; */
}

#friends-profile-title {
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  max-height: 30px;
  margin-left: 35px;
}

#test-123 {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  /* justify-content: center; */
}

#friend-wrapper {
  display: flex;
  width: 130px;
  max-height: 110px;
  font-family: "Poppins", sans-serif;
  flex-direction: column;
  margin: 10px;
  flex: 2 2 40%;
  align-items: center;
}

#friend-wrapper-single {
  display: flex;
  width: 130px;
  max-height: 110px;
  font-family: "Poppins", sans-serif;
  align-items: center;
  flex-direction: column;
  margin: 10px;
}

#friend-num {
  padding-left: 20px;
  font-family: "Poppins", sans-serif;
}

#friend-wrapper img {
  border-radius: 5px;
  margin-bottom: 5px;
}

#friend-wrapper-single img {
  border-radius: 5px;
  margin-bottom: 5px;
}

#newsfeed-upper-wrapper {
  display: flex;
}

#user-image {
  border-radius: 100%;
}

#user-fullname {
  margin-left: 20px;
  font-family: "Barlow", sans-serif;
}

#friend-request-status {
  margin-left: 20px;
  font-family: "Poppins", sans-serif;
}

#add-friend-btn {
  background-color: #e5383b;
  font-family: "Poppins", sans-serif;
  color: white;
  width: 100;
  height: 30;
  border-radius: 5px;
}

#add-friend-btn:hover {
  background-color: #e5383b8a;
  color: black;
  cursor: pointer;
}

#accept-friend-btn {
  background-color: #e5383b;
  font-family: "Poppins", sans-serif;
  color: white;
  width: 80;
  height: 30;
  margin-right: 5px;
  border-radius: 5px;
}

#accept-friend-btn:hover {
  background-color: #e5383b8a;
  color: black;
  cursor: pointer;
}

#decline-friend-btn {
  background-color: #000000;
  font-family: "Poppins", sans-serif;
  color: white;
  width: 80;
  height: 30;
  border-radius: 5px;
}

#decline-friend-btn:hover {
  background-color: #b1a7a6;
  color: black;
  cursor: pointer;
}

#friends-btn {
  background-color: #f5f3f4;
  border: none;
  margin-top: 20px;
  margin-bottom: 20px;
  padding-bottom: 5px;
  border-bottom: #e5383b solid;
  font-family: "Poppins", sans-serif;
  font-size: 15px;
}

#friends-btn:hover {
  background-color: #f5f3f4;
  border: none;
  margin-top: 20px;
  margin-bottom: 20px;
  padding-bottom: 5px;
  border-bottom: #e5383b solid;
  color: #e5383b;
  font-family: "Poppins", sans-serif;
  font-size: 15px;
  cursor: pointer;
}

#profile-info {
  display: flex;
  align-items: center;
}

@media (max-width: 770px) {
  #profile-container {
    display: flex;
    padding: 20px;
    width: calc(100% - 40px);
    flex-direction: column;
    margin-right: 0px;
  }

  #userinfo-container {
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: center;
  }

  #profile-info {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  #user {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  #user-fullname {
    margin-left: 0px;
    font-family: "Barlow", sans-serif;
  }

  #friend-num {
    padding-left: 0px;
    font-family: "Poppins", sans-serif;
  }

  #profile-btns {
    display: flex;
    flex-direction: column;
    align-content: center;
    align-items: center;
    margin-bottom: 10px;
  }

  #friend-request-status {
    font-family: "Poppins", sans-serif;
  }

  #link-friends {
    display: flex;
    margin-left: 0px;
    justify-content: flex-start;
    text-decoration: none;
  }

  #profile-main-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  #friends-profile-container {
    display: flex;
    /* max-height: 300px; */
    background-color: white;
    /* min-width: 350px; */
    border-radius: 5px;
    padding-top: 10px;
    padding-left: 10px;
    padding-bottom: 10px;
    margin-bottom: 10px;
    box-shadow: 1px 1px 4px 1px #161a1d;
    flex-direction: row;
    flex-wrap: wrap;
  }

  #newsfeed-upper-wrapper {
    display: flex;
    /* width: 10px; */
    align-items: center;
  }

  #friend-wrapper:last-child {
    display: flex;
    width: 130px;
    max-height: 110px;
    font-family: "Poppins", sans-serif;
    align-items: center;
    flex-direction: column;
  }

  #friends-profile-title {
    max-height: 30px;
    margin-left: 0px;
    margin-right: 0px;
    padding-bottom: 4px;
    text-align: center;
  }

  #test-123 {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }

  #friend-wrapper {
    display: flex;
    flex-grow: 1;
    width: calc(100% * (1 / 2) -12px -8px);
    max-height: 110px;
    font-family: "Poppins", sans-serif;
    align-items: center;
    flex-direction: column;
  }

  #spacer-div {
    display: none;
    /* display: flex;
    justify-self: flex-end; */
    /* width: 150px; */
  }

  #profile-posts-container {
    display: flex;
    /* margin-left: 23px; */
    flex-direction: column;
    align-items: center;
    /* width: 150px;
  }

  #profile-newPostBox-container {
    display: flex;
    /* width: 550px; */
    margin-left: 0px;
    flex-direction: column;
  }

  #wrapper-posts {
    display: flex;
    /* width: 33px; */
    flex-direction: column;
    align-items: center;
  }

  #newPostBox {
    /* width: 300px; */
    min-width: 300px;
  }

  #new-post-form {
    width: 100%;
  }

  #post-wrapper {
    min-width: 300px;
  }

  #friends-profile-container-single {
    display: flex;
    max-height: 300px;
    padding-top: 15px;
    padding-bottom: 15px;
    margin-bottom: 10px;
    background-color: white;
    min-width: fit-content;
    border-radius: 5px;
    margin-top: 10px;
    padding-left: 10px;
    box-shadow: 1px 1px 4px 1px #161a1d;
    align-items: center;
  }

  #friend-wrapper-single {
    display: flex;
    width: 130px;
    margin-left: 0px;
    max-height: 110px;
    font-family: "Poppins", sans-serif;
    align-items: center;
    flex-direction: column;
  }
}
